.navbar__active {
    border-bottom: 4px solid var(--my-primary-color);
}

.navbar__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar__item {
    text-decoration: none;
    cursor: pointer;
}
.navbar__item:hover {
    background: var(--my-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}