@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

/* ---------------------- General layout ---------------------- */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

a, 
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: black;
}

/* ---------------------- Custom scrollbar ----------------------  */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: var(--my-primary-color);
}

/* ---------------------- My utility classes ---------------------- */
.my-text-primary,
.my-text-primary:hover {
    color: var(--my-primary-color) !important;
}

.my-bg-primary,
.my-bg-primary:hover {
    background: var(--my-primary-color) !important;
    color: #fff;
    border: none;
}

.my-bg-gradient,
.my-bg-gradient:hover {
    background: var(--my-gradient-color) !important;
    color: #fff;
    border: none;
}

.hoverEffect {
    transition: transform .3s ease-in-out;
}
    .hoverEffect:hover {
        transform: scale(1.08);
    }