.app__sidebar {
    background-color: #fff;
}

.sidebar__avatar {
    width: 120px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15px;
}

.sidebar__name {
    font-family: 'Kaushan Script', cursive;
}

.btn__email {
    background: var(--my-gradient-color);
    background: var(--my-gradient-color);
    transition: all .3s ease-in-out;
}
    .btn__email:hover {
        /* transform: scale(1.05); */
    }